<div class="bb ">
  <div class="row  form-login ">
            <div class="col-md-12 text-center mb-4 ">
                <img alt="logo" src="https://designreset.com/preview-equation/default/assets/img/logo-5.png" class="theme-logo">
            </div>
            <div class="col-md-12 ">
                <label for="inputEmail" class="">Login</label>
                <input type="email" id="inputEmail" class="form-control mb-4"  required="">
                <label for="inputPassword" class="">Password</label>
                <input type="password" id="inputPassword" class="form-control mb-5" required="">
                <div class="checkbox d-flex justify-content-between mb-4 mt-3">
                    <div class="custom-control custom-checkbox mr-3 ">
                        <input type="checkbox"  id="customCheck1" value="remember-me">
                        <label  for="customCheck1"> Remember</label>
                    </div>
                    <div class="forgot-pass">
                        <a href="user_pass_recovery_1.html">Forgot Password?</a>
                    </div>
                </div>
                <button class="btn btn-lg btn-gradient-danger btn-block btn-rounded mb-4 mt-5 " type="submit">Login</button>
            </div>
</div>
</div>
