<h1 class="planning">Planning général</h1>
<div class="div">
  <div>
                                <div class="widget-content widget-content-area br-4 p-0">
                                    <div class="customer-satisfaction text-center">
                                        <h6 class="c-s-title mt-3 mb-3">Office optimisé à</h6>
                                        <h1 class="c-s-stats mb-4">33%</h1>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 33%" ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>
