<div class="sidenav">
  <a href="#user"><img class="imguser"src="https://i.pinimg.com/originals/15/6f/bb/156fbb01d3ec2f7ea869e06bf34351dc.jpg"/>
   <p class="user">John Doe <i class="fas fa-pencil-alt"></i><br>
    Assistant SEM<br>
    Marketing
   </p>


</a>
  <a href="#Accueil"><i class="fas fa-home"></i> Accueil</a>
  <a href="#télétravail"><i class="far fa-calendar-alt"></i> Mon télétravail
    <a> Dashboard</a>
    <a> Permutations</a>
    <a> Historiques</a>
  </a>
  <a href="#Manager"><i class="fas fa-users"></i> Manager
  <a> Paramètres</a>
  <a> Notifications</a>
  </a>
  <a href="#Admin"> <i class="fas fa-user-cog"></i> Admin
    <a>Dashboard</a>
    <a>Gestion</a>
  </a>
  <a href="#Satisfaction"> <i class="fas fa-heartbeat"></i> Satisfaction Teams</a>
</div>
